@model AspDotNetAppsProgramming.Models.ItemModel

@{
    ViewBag.Title = "Add";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control"/>
    </div>
    <div class="form-check-inline">
        <input asp-for="IsVisible" class="form-check-input"/>
        <label asp-for="IsVisible" class="form-check-label">Item visible?</label>
    </div>
    <div class="form-group">
        <button type="submit">Add</button>
    </div>
</form>